* {
  margin: 0;
  padding: 0;
}
html,
body,
#root,
.App {
  color: #000;
  height: 100%;
}
body {
  font-family: 'Libre Franklin', sans-serif;
  overflow: hidden;
}
fieldset {
  border: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  line-height: 1.5;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
a {
  color: #000;
  text-decoration: none;
}
p {
  margin-bottom: 1rem;
}

/*  ICONS  */
[class*=icon-],
[class^=icon-] {
  background: red;
  border-radius: 50%;
  display: inline-block;
  height: 36px;
  text-indent: -5000px;
  width: 36px;
}

.App-header,
.App-footer {
  background: red;
  height: 50px;
  position: fixed;
  width: 100%;
}
.App-header {
  top: 0;
}
.App-sidebar {
  background: white;
  bottom: 0;
  box-shadow: 0 0 10px 10px rgba(0,0,0,.3);
  position: fixed;
  right: 0;
  top: 0;
  width: 80%;
  transform: translateX(100%);
}
.App-sidebar.active {
  transform: translateX(0);
}
.App-footer {
  bottom: 0;
}
#content-wrapper {
  height: calc(100% - 106px);
  overflow: auto;
}

/*  CARDS  */
.card-list {
  padding: 20px;
}
.card-list .card-item {
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
  margin: 15px 0;
}
.card-list .card-item .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  overflow: hidden;
}
.card-list .card-item .text {
  height: 70px;
  padding: 10px 15px;
}
.card-list .card-item .text h2 {
}


@media screen and (min-width: 768px) {
  /*  CARDS  */
  .card-list {
    display: flex;
  }
  .card-list .card-item {
    margin: 15px;
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  /*  CARDS  */
  .card-list {
    display: flex;
  }
  .card-list .card-item {
    margin: 15px;
    width: 20%;
  }
  .card-list .card-item .text {
    height: auto;
  }
}